.progress{
    width: 100%;
}
.pallet{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:5px;
    margin-top: 7px;
}
.color-match{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 2px;
    margin: 0 3px;
}


