
.faculty-dash-background{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:auto;
    border-radius: 10px;
    padding: 10px;
    /* border: solid 1px rgb(214, 28, 28); */
    box-shadow: 0px 0px 15px rgb(202, 192, 192);
    max-width: 80rem;
    height: fit-content;
    width: 95%;
    position: relative;
}
.card-btn{
    display: flex;
    flex-direction: column;
    width: 90%;
    /* min-width: 20rem;*/
    max-width: 25rem; 
    height: 200px;
    margin: 10px 10px; 
    border:none;
    border-radius: 10px;
    padding:30px;
    position: relative;
    background: linear-gradient(50deg, rgba(255, 117, 117, 0.525),rgba(89, 67, 255, 0.656)),
                 url("/src/assets/bgImg.jpg")    no-repeat  rgba(255, 255, 255, 0.782);
    background-position: 10% 80% ;
    text-align: left;
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.card-btn:active{
    scale:0.995;
    box-shadow: 0 0 10px rgba(86, 86, 86, 0.6);
}
.card-btn h2{
    margin-bottom: auto;
}
.card-btn p{
    margin:auto 0 3px 0;
}
.assign-btn{
    background-position: 0% 90% ;
    
}

@media screen and (min-width:768px){
    .faculty-dash-background{
        display: grid;
        grid-template-columns: 1fr 1fr;  
        place-items: center;
    }
}

